/* FORMULARIO */
#avail-form {
    overflow: hidden;
    margin: auto;
}

#avail-form>form#availabilityForm {
    border-radius: 10px;
}

/*#region inputs generales*/
input.ui-inputfield {
    padding: 24px 12px !important;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #000000;
}

.ui-selectonemenu {
    transform: none !important;
    height: 50px;
    border: 1px solid #C2C2C2;
    display: flex !important;
    align-items: center;
    position: relative;
}

.ui-chips .ui-chips-container {
    border: 1px solid #C2C2C2;
    height: 50px;
}

.ui-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-input-token input {
    margin: 0px;
    padding: 24px 12px;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    width: 100%;
}

/*#endregion*/
/*#region BOTONES precio horario*/

.ui-selectonebutton .ui-button.ui-state-default.ui-state-active {
    background: var(--color-primary) !important;
    border: initial !important;
}

.ui-selectonebutton .ui-button.ui-state-default {
    background: var(--color-white);
    border: 0px solid #297DB5 !important;
    border: inherit;
    padding: 7px 30px;
    border-radius: 5px 0px 0px 5px;
    background-color: #EBEBEB;
}

#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:first-of-type.ui-state-active span:first-of-type {
    background-image: url(../media/icon-precio-hover.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}

#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:first-of-type.ui-state-active span:first-of-type {
    background-image: url(../media/icon-precio-hover.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}


#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:first-of-type.ui-state-active span:first-of-type {
    background-image: url(../media/icon-precio-hover.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}

#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:first-of-type span:first-of-type {
    background-image: url(../media/icon-precio.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}

#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:nth-of-type(2).ui-state-active span:nth-of-type(1) {
    background-image: url(../media/icon-horario-hover.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}

#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:nth-of-type(2) span:nth-of-type(1) {
    background-image: url(../media/icon-horario.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}

.ui-button-text.ui-c:before {
    content: none !important;
}

/*boton de buscar tipo submit*/
#availabilityForm button[type=submit] {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    border-radius: 100px;
    padding-left: 43px;
    padding: 1px 30px 10px 40px;
    background-color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--color-primary);
    padding: 28px 36px 28px 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;

}

#availabilityForm button[type=submit]::after {
    background-image: url(../media/icon-btn-next.svg) !important;
    background-repeat: no-repeat;
    background-size: 5.04px 9.33px;
    width: 5.04px;
    height: 9.33px;
    background-size: 6px 12px;
    width: 6px;
    height: 12px;
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#availabilityForm button[type=submit]:hover::after {
    transform: translate(5px, -50%);
    transition: all 0.3s ease;
}

#availabilityForm button[type=submit]::before {
    background-image: url(/resources/media/icon-flights.svg) !important;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

#availabilityForm button[type=submit]::after {
    background-image: url(/resources/media/icon-btn-next-hover.svg) !important;
}

/*#endregion*/
/*#region CHECKS y RADIOS*/

.ui-state-default .ui-icon, .ui-messages .ui-icon, .ui-sidebar-close .ui-icon, .ui-datepicker-header .ui-icon, .ui-dialog-titlebar-icon .ui-icon, .ui-selectcheckboxmenu-filter-container .ui-icon
{
    background-image: none!important;
}
.ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active {
    background-color: var(--color-primary) !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
    background: #00f;
}


.ui-radiobutton.ui-widget {
    padding: 0px !important;
    margin: 0px !important;
}

.ui-radiobutton {
    border-radius: 15px;
}


.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 34px;
}

.ui-chkbox-icon.ui-icon.ui-c.ui-icon-blank {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EBEBEB;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active {
    background-color: var(--color-primary) !important;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    top: 3px;
    background-color: #B5B5B5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active:before {
    background-color: var(--color-white);
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.ui-chkbox-icon.ui-icon.ui-c.ui-icon-blank {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
    background-color: rgb(235, 235, 235);
}

/*#endregion*/
/*#region INPUT/SELECT*/
.ui-selectonemenu {
    display: flex !important;
    align-items: center;
    position: relative;
    width: auto;
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    cursor: pointer;
    padding-right: 22px;
    vertical-align: top;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 50px !important;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 0px !important;
    background-image: url(/resources/media/icon-select.svg) !important;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
    background-size: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#passengersOverlayPanelContainer .ui-g{
    display: flex;    
    flex-wrap: inherit;
}
#passengersOverlayPanelContainer .ui-g{
    width: 100%;
}
/*#endregion*/
/*#region Calendario y fechas*/

.date-range-picker-from,
.date-range-picker-to {
    position: relative;
    height: 84px;
    padding: 0px 0px 0px 0px !important;
}

.date-range-picker-from{
    padding-right: 5px!important;
}

.date-range-picker-from .input-icon,
.date-range-picker-from-single .input-icon,
.date-range-picker-to .input-icon {
    bottom: 25%;
    right: 10px;
    position: absolute;
    z-index: 2;
    color: #838383;
    width: 40px;
    height: 40px;
    background-image: url(/resources/media/icon-date.svg) !important;
    background-size: 20px 20.57px;
    background-position: calc(100% - 0px) 50%;
    background-repeat: no-repeat;
}

.fa-calendar-alt:before {
    content: "" !important;
}

/*datepicker*/
.month-wrapper {
    width: 584px !important;
    height: 380px;
    border-radius: 16px 16px 16px 16px !important;
    padding: 0px !important;
    overflow: hidden;
}
.month-wrapper table thead{
    background: #EBEBEB;
}
.date-picker-wrapper .footer {
    display: none;
}
.month-wrapper::before {
    background-color: var(--color-primary) !important;
    display: flex;
    color: var(--color-white);
    justify-content: center;
    align-items: center;
    content: "Por favor selecciona un rango de fechas";
    /*TODO CAMBIAR POR LENGUAJE*/
    width: 100% !important;
    height: 50px;
    font-size: 16px;
    font: var(--main-font-two);
}

.date-picker-wrapper .month-wrapper table {
    background-color: #F3F2EB;
    height: calc(100% - 60px);
    width: calc(50% - 10px) !important;
    border: 5px solid var(--color-white);
    padding: 5px;
    margin: 5px;    
}

.date-picker-wrapper .month-wrapper table.month1{
    border: 2px solid #F3F2EB;
    background: #FFFFFF;
}

.date-picker-wrapper .month-wrapper table.month1, .date-picker-wrapper .month-wrapper table.month2 {    
    border: 2px solid #F3F2EB;
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
}

.month-wrapper .gap {
    margin: 0;
    width: 0px;
}

.date-picker-wrapper .month-wrapper table .day.checked {
    background-color: var(--color-primary) !important;
}

.date-picker-wrapper .month-wrapper table .day.first-date-selected {
    border-radius: 10px 0px 0px 10px;
}

.date-picker-wrapper .month-wrapper table .day.last-date-selected {
    background-color: var(--color-primary) !important;
    border-radius: 0px 10px 10px 0px;
}

.date-picker-wrapper .month-wrapper table .day.real-today {
    background-color: var(--color-primary) !important;
}

.date-picker-wrapper {
    background-color: initial !important;
}

/*#endregion*/
/*#region ACORDEON*/
.AcordeonForm {
    overflow: hidden;
    max-height: 0px;
    transition: all 0.7s;
}

.AcordeonFormActive {
    overflow: hidden;
    max-height: 1000px;
}

.AcordeonOptions {
    display: flex;
    justify-content: flex-end;
}

.AcordeonBtnPlus::before {
    color: var(--color-primary);
    content: "#{msg.MoreOptions}";
    margin-right: 10px;
    display: inline-block;
}

.AcordeonBtnPlus {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/*#endregion*/