:root {
    --main-font: sans-serif;
    --main-font-two: 16px "DM Sans", sans-serif;
}

/*FLECHA DE LOS SELECS*/
/*#region IMPUT/SElects*/
.ui-selectonemenu {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    cursor: pointer;
    padding-right: 22px;
    vertical-align: top;
}


/*FLECHA DE LOS SELECS*/

.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    /* width: 16px; */
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 0px !important;
    background-image: url(../media/icon-select.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0px;
    background-size: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*CHECKS*/
.box-form ul li .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.box-form ul li .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    top: 3px;
    background-color: #B5B5B5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.box-form ul li .slider,
.ui-chkbox-icon .ui-icon .ui-c ui-icon-check {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EBEBEB;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/*#endregion */

/*ICONO CALENDARIO*/

/*#region Calendario y fechas*/

.date-range-picker-from,
.date-range-picker-to {
    position: relative;
}

.date-range-picker-from .input-icon,
.date-range-picker-from-single .input-icon,
.date-range-picker-to .input-icon {
    bottom: 25%;
    right: 10px;
    position: absolute;
    z-index: 2;
    color: #838383;
    width: 40px;
    height: 40px;

    background-image: url(/media/icon-date.svg);
    background-size: 20px 20.57px;
    background-position: calc(100% - 0px) 50%;
    background-repeat: no-repeat;

}

/*datepicker*/
.month-wrapper {
    width: 584px !important;
    height: 380px;
    border-radius: 16px 16px 16px 16px !important;
    padding: 0px !important;
    overflow: hidden;
}

.month-wrapper::before {
    background-color: #e44049 !important;
    /*TODO COLOR PRIMARY*/
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    content: "Por favor selecciona un rango de fechas";
    /*TODO CAMBIAR POR LENGUAJE*/
    width: 100% !important;
    height: 50px;
    font-size: 16px;
    font: var(--main-font-two);
}

.date-picker-wrapper .month-wrapper table {
    background-color: #F3F2EB;
    height: calc(100% - 60px);
    width: calc(50% - 10px) !important;
    border: 5px solid #ffffff;
    /*todo color white*/
    padding: 30px;
    margin: 5px;
}

.month-wrapper .gap {
    margin: 0;
    width: 0px;
}

.date-picker-wrapper .month-wrapper table .day.checked {
    background-color: #e44049 !important;
    /*TODO COLOR PRIMARY*/
}

.date-picker-wrapper .month-wrapper table .day.first-date-selected {
    border-radius: 10px 0px 0px 10px;
}

.date-picker-wrapper .month-wrapper table .day.last-date-selected {
    background-color: #e44049 !important;
    /*TODO COLOR PRIMARY*/
    border-radius: 0px 10px 10px 0px;
}

.date-picker-wrapper .month-wrapper table .day.real-today {
    background-color: #e44049 !important;
    /*TODO COLOR PRIMARY*/
}

.date-picker-wrapper {
    background-color: inherit !important;
}

/*#endregion*/


/*#region BOTONES*/

/*BOTONES precio horario*/

#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:first-of-type.ui-state-active span:first-of-type {
    background-image: url(../media/icon-precio-hover.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}

#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:first-of-type span:first-of-type {
    background-image: url(../media/icon-precio.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}

#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:nth-of-type(2).ui-state-active span:nth-of-type(1) {
    background-image: url(../media/icon-horario-hover.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}

#requestType .ui-selectonebutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-2 div:nth-of-type(2) span:nth-of-type(1) {
    background-image: url(../media/icon-horario.svg) !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
    background-position-y: center !important;
    width: 100%;
}



.ui-selectonebutton .ui-button.ui-state-default.ui-state-active {

    background: #e44049;
    /*TODO color primary*/
    /*color: #FFFFFF;
    padding: 10px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;*/
}

.ui-selectonebutton .ui-button.ui-state-default {
    background: #EBEBEB;
    border: 0px solid #297DB5 !important;
    border: inherit;
    padding: 7px 30px;
    /*border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;*/
}

.ui-selectonebutton .ui-button {
    color: #ffff;
    /* width: 20px; */
    /* height: 40px; */
    background-image: url(../media/icon-precio.svg);
    background-size: 20px 20.57px;
    /* background-position: calc(100% - 0px) 50%; */
    background-repeat: no-repeat;
}

.ui-selectonebutton .ui-button:first-of-type,
.ui-selectonebutton .lowcost-contract .generate-document-button:first-of-type,
.lowcost-contract .ui-selectonebutton .generate-document-button:first-of-type {
    border-radius: 25px 0 0 25px;
}

.ui-selectonebutton .ui-button:last-of-type,
.ui-selectonebutton .lowcost-contract .generate-document-button:last-of-type,
.lowcost-contract .ui-selectonebutton .generate-document-button:last-of-type {
    border-radius: 0 25px 25px 0;
}

/*boton de buscar tipo submit*/
#availabilityForm button[type=submit]:hover {
    background-color: #e44049;
    border: inherit;
    color: white !important;
    /*todo $color-white variable*/
}

#availabilityForm button[type=submit] {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #002333;
    border: 2px solid #002333;
    border-radius: 100px;
    padding-left: 43px;
    padding: 1px 30px 10px 40px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#availabilityForm button[type=submit]::after {
    background-image: url(/media/icon-btn-next.svg);
    background-repeat: no-repeat;
    background-size: 5.04px 9.33px;
    width: 5.04px;
    height: 9.33px;
    background-size: 6px 12px;
    width: 6px;
    height: 12px;
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#availabilityForm button[type=submit]:hover::after {
    background-image: url(/media/icon-btn-next-hover.svg);
}

#availabilityForm button[type=submit]::before {
    background-image: url(/media/icon-flights-hover.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
}

#availabilityForm button[type=submit]:hover::before {
    background-image: url(/media/icon-flights.svg);
}

/*#endregion*/


/*#region CHECKS y RADIOS*/
.ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active {
    background-color: red !important;

    box-shadow: 0 0 0 2px #ffffff,
        0 0 0 3px red;
    /*TODO COLOR PRIMARIO*/
}

.ui-radiobutton .ui-radiobutton-box {}

.ui-radiobutton.ui-widget {
    padding: 2px;
}

.ui-radiobutton {
    border-radius: 15px;
}


.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 34px;
}

.ui-chkbox-icon.ui-icon.ui-c.ui-icon-blank {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EBEBEB;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active {
    background-color: #E44049 !important;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    top: 3px;
    background-color: #B5B5B5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active:before {
    background-color: #FFFFFF;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.ui-chkbox-icon.ui-icon.ui-c.ui-icon-blank {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/*#endregion*/


/*#region TABMENU */
#availTabMenu {
    background: #E44049;
    /*TODO $color-primary*/
    border-radius: 0px 100px 0px 0px;
    padding: 0;
    margin: 0 0 0 0;
    border-top: 21px solid #FFFFFF;
    border-right: 21px solid #FFFFFF;
    border-left: 21px solid #FFFFFF;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.btnTab {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.btnTabNext {
    left: auto;
    right: 20px;
    background-image: url(../media/icon-next-hover.svg);
}

.btnTabNext:hover {
    background-image: url(../media/icon-next-hover.svg);
}

.btnTabBefore {
    background-image: url(../media/icon-prev-hover.svg);
}

.btnTabBefore:hover {
    background-image: url(../media/icon-prev-hover.svg);
}

#availTabMenu>.tabs-menu-main-page {
    height: 75px;
    border-radius: 0px 75px 0px 0px;
    overflow: hidden;
}

#avail-container {
    /*margin: 0 auto;*/
    /*padding: 3px;
    border-radius: 5px;*/
    margin: 0 0 60px 0;
    background: #FFFFFF;
    border-radius: 0px 100px;
    max-width: 1400px;
}

#avail-form {
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 100px;
    padding: 12px;
}

#avail-form>form>div.ui-panel,
#avail-form>form>div.ui-panel div.ui-panel-content {
    padding: 0;
}

#avail-form>form#availabilityForm {
    padding: 20px;
    box-sizing: border-box;
}

#avail-form h4 {
    margin: 10px 0;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px;
    width: 1700px;

}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    margin: 0;
    height: 100%;
    background-color: #E44049;
    /*TODO color PRIMARY*/
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
}



#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link {
    padding: 0.5em 1.2em;
    color: #ffffff !important;
    background-color: #E44049;
    /*TODO color-primary*/
    display: flex;
    align-items: center;
}

/*no van*/
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
    background-color: #E44049 !important;
    /*TODO color-primary*/
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
    background-color: #FFFFFF !important;
}

/*FIN no van*/
/*MENU TAB*/
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover {
    height: 100%;
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

/*ICONOS DEL TAB FALTAN SERVICIOS*/
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon {
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 30px !important;
    width: 40px;
    overflow: hidden;
    min-width: 40px;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-plane {
    background-image: url(../media/icon-flights.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-plane,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-plane {
    background-image: url(../media/icon-flights-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-train {
    background-image: url(../media/icon-trains.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-train,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-train {
    background-image: url(../media/icon-trains-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-hotel {
    background-image: url(../media/icon-hotels.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-hotel,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-hotel {
    background-image: url(../media/icon-hotels-hover.svg) !important;
}

/*nuevo tabmenu*/

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-hotels-flights {
    background-image: url(../media/icon-hotel_flight.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-hotels-flights,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-hotels-flights {
    background-image: url(../media/icon-hotel_flight-hover.svg) !important;
}



#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-cruises {
    background-image: url(../media/icon-cruises.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-cruises,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-cruises {
    background-image: url(../media/icon-cruises-hover.svg) !important;
}


#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-digital-signature {
    background-image: url(../media/icon-digital_signature.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-digital-signature,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-digital-signature {
    background-image: url(../media/icon-digital_signature-hover.svg) !important;
}


#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-activities {
    background-image: url(../media/icon-activities.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-activities,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-activities {
    background-image: url(../media/icon-activities-hover.svg) !important;
}


#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-bookroad {
    background-image: url(../media/icon-bookroad.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-bookroad,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-bookroad {
    background-image: url(../media/icon-bookroad-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-busway {
    background-image: url(../media/icon-busway.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-busway,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-busway {
    background-image: url(../media/icon-busway-hover.svg) !important;
}

form {
    width: 100%;
    box-sizing: border-box;

}

/*#endregion */


/*#region TABMENU-CARRUCEL */

/*#region deshabilitaciones generales*/
.ui-state-default .ui-icon,
.ui-messages .ui-icon,
.ui-sidebar-close .ui-icon,
.ui-datepicker-header .ui-icon,
.ui-dialog-titlebar-icon .ui-icon,
.ui-selectcheckboxmenu-filter-container .ui-icon {
    background-image: none !important;
}

.ui-button-text.ui-c:before {
    content: none !important;
}

/*endregion*/

/*#region header incluye algunos responsivess*/
#menu-sticky {
    background-color: white !important;
}

.ui-g.menu-container {
    margin: 0px;
}

/*endregion*/

/*#region responsives */
@media only screen and (max-width: 991px) {
    body {
        background-color: lightblue;
    }

    .cb-slideshow {
        display: none;
    }

    #header,
    #body {
        overflow: hidden;
    }

    #avail-container {
        border-radius: inherit;
    }

    #availTabMenu {
        border-radius: inherit;
        border-top: 0px solid #FFFFFF;
        border-right: 0px solid #FFFFFF;
        border-left: 0px solid #FFFFFF;
    }

    .ui-g.menu-responsive {
        display: none !important;
    }

    .menu {
        display: flex !important;
    }

    .ui-g.menu {
        height: 75px;
    }

    #availabilityForm button[type=submit] {
        width: auto !important;
    }

    .adaptable-container {
        width: 100%;
    }

    #availTabMenu>.tabs-menu-main-page {
        border-radius: 0px 0px 0px 0px;
    }

    #avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem,
    .ui-tabmenu .ui-menuitem-link,
    .ui-tabmenu .ui-menuitem-icon,
    #avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link {
        display: flex !important;
        margin: 0px;
    }
    #console tbody,
    #console,
    #console tbody tr {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #console tbody tr td {
        display: flex;
        padding: 5px;
    }
    /*#region MUNU RESPONSIVE*/
    #header {
        height: 60px;
        position: relative;
    }
    #header-container,
    .ui-menu.ui-menu-dynamic,
    .ui-menu.ui-menu-dynamic.ui-connected-overlay-enter-done
     {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100%;
        background-color: #E44049;
        z-index: 100;        
    }
    .ui-menu.ui-menu-dynamic,
    .ui-menu.ui-menu-dynamic.ui-connected-overlay-enter-done{
        display: none;
    }
    .header-left form, .header-right{
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-left: 0px !important;        
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 36px;
        letter-spacing: 0.38px;
        color: #FFFFFF;
        position: relative;
    }
    .header-left form .ui-menubutton.ui-widget, 
    .header-right .header-item,
    .ui-menu.ui-menu-dynamic ul li a,
    .ui-menu.ui-menu-dynamic.ui-connected-overlay-enter-done ul li a
    {
        color: #FFFFFF !important;
        border-bottom: #FFFFFF 1px solid;
        margin: 0px;
        margin-left: 0px !important;
        padding: 17px 23px !important;
        font-weight: 400 !important;
    }
    .header-left form .ui-menubutton.ui-widget button{
        font-weight: 400 !important;
        padding: 0px;
        margin: 0px !important;
    }
    /*#endregion*/
}


/*endregion*/