@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
    --main-font: sans-serif;
    --main-font-two: 100% "DM Sans", sans-serif;
    --color-primary: #05A5C7;
    --color-white: #fff;
    --color-secundario: #043e4b;
}

html {
    height: auto;
}

body {
    background-image: url(/resources/media/header.jpg) !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0 !important;
    height: auto;
    min-height: 100%;
}

#body {
    padding-bottom: 0px;
    background-color: initial;
}

#avail-container {
    background: initial !important;
    max-width: 1200px;
}
/*TODO BORRAR*/
.cb-slideshow div{
    background-image: url(/resources/media/header.jpg) !important;
}
/*#region menu de acceso a diferentes sistemas y HEADRS*/
.ui-tabmenu li.ui-state-active a,
.ui-tabmenu a.ui-menuitem-link {
    background-color: initial !important;
}

.menu .menu-container {
    justify-content: center;
    margin: 5px;
}

#header,
#menu-sticky {
    background: initial !important;
    position: relative !important;

}

#menu-sticky {
    z-index: 1001 !important;
    box-shadow: none;
}
.ui-sticky .menu {
    background-color: initial;
    box-shadow: none;
}

#header {
    padding: 57px 0 6px 0;
    height: 100px;
}

/*#endregion*/

/*HEADER MENU*/
.notificationsBTN::before {
    content: "";
    height: 25px;
    width: 20px;
    background-image: url(/resources/media/icon-bell.svg);
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.ui-outputlabel.ui-widget.fa.fa-user::before {
    content: "";
    height: 25px;
    width: 25px;
    margin-right: 10px;
    float: left;
    background-image: url(/resources/media/icon-menumobile-profile.svg) !important;
}

.header-right .ui-outputlabel.ui-widget.fa.fa-user {
    align-items: center;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.header-right .ui-outputlabel.ui-widget.fa.fa-user::before {
    content: "";
    height: 40px;
    width: 40px;
    background-image: url(/resources/media/icon-profile-header-mobile.svg) !important;
    background-size: 40px 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header-right .ui-outputlabel.ui-widget.fa.fa-user:hover:before {
    background-image: url(/resources/media/icon-profile-header-mobile-hover.svg) !important;
}

#changeView {
    margin: 0px;
}

#header-container,
.ui-menu.ui-menu-dynamic,
.ui-menu.ui-menu-dynamic.ui-connected-overlay-enter-done,
.avail-filters-column {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 330px !important;
    background-color: var(--color-primary);
    z-index: 1010 !important;
    transform: translateX(-100%);
    transition: all 0.6s;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.FilterBTN {
    background-color: var(--color-secundario);
    padding: 10px;
    border-radius: 50px;
    color: var(--color-white) !important;
    width: 200px;
    cursor: pointer;
}

.header-left form,
.header-left-2,
.header-left-button {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-left: 0px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.38px;
    color: var(--color-white);
    position: relative;
}

.header-left-button {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    left: 10px;
    color: var(--color-white) !important;
}

.header-left-button a {
    color: var(--color-white) !important;
}

.header-right {
    z-index: 1;
    position: absolute;
    right: 0;
    margin: 10px 30px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.header-left form .ui-menubutton.ui-widget,
.header-left-2 .header-item,
.ui-menu.ui-menu-dynamic ul li a,
.ui-menu.ui-menu-dynamic.ui-connected-overlay-enter-done ul li a {
    padding: 12px 20px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.38px;
    color: #FFFFFF !important;
    position: relative;
}

.ui-menu.ui-menu-dynamic,
.ui-menu.ui-menu-dynamic.ui-connected-overlay-enter-done {
    transform: translateX(0%);
}

.ui-menu.ui-menu-dynamic,
.ui-menu.ui-menu-dynamic.ui-connected-overlay-enter-done {
    display: none;
}

.menu-active {
    transform: translateX(0%) !important;
}

/*BOTONES DE MENU*/
.header-left form .ui-menubutton.ui-widget,
.header-left-2 .header-item,
.btnCloseMenu,
.avail-filters-column .ui-panel .ui-panel-titlebar,
.avail-filters-column .filter-count-container,
.ui-menu.ui-menu-dynamic ul li a,
.ui-menu.ui-menu-dynamic.ui-connected-overlay-enter-done ul li a {
    color: var(--color-white) !important;
    border-bottom: var(--color-white) 1px solid;
    margin: 0px;
    margin-left: 0px !important;
    padding: 10px 23px !important;
    font-weight: 400 !important;
    cursor: pointer;
    display: flex;
    font-size: 0.9rem !important;
    align-items: center;
    background-color: initial;
}

.avail-filters-column {
    background-color: var(--color-secundario);
}

.avail-filters-column .filters .filter-panel,
.avail-filters-column .filter-count-container {
    background-color: initial;
}

.avail-filters-column .filters .filter-panel a {
    position: absolute;
    right: 20px;
}

.avail-summary {
    background: #fff;
}
.collapsed-search{
}
.avail-summary-container {
    width: auto;
    max-width: 1200px;
    margin: auto;
    background-color: var(--color-primary);
    border-radius: 20px;
    min-height: 40px;
    padding: 20px;
}

.header-left-2 .header-item label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-left form .ui-menubutton.ui-widget button {
    font-weight: 400 !important;
    padding: 0px;
    margin: 0px !important;
    width: 100%;
}

.ui-menu.ui-menu-dynamic .menu-item-close,
.btnCloseMenu {
    display: block;
    cursor: pointer;
}

.btnCloseMenu {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.menu-item-close::before {
    content: "<";
    width: 25px;
    margin: 0px 5px;
    font-weight: 600;
    float: left;
    color: var(--color-white);
    cursor: pointer;
}

.menu-item-close::after {
    content: "" !important;
    cursor: pointer;
}

.header .header-container .header-left .ui-menubutton .ui-button .ui-icon {
    background-image: url(/resources/media/icon-menumobile-next.svg) !important;
    background-size: 6px 12px !important;
    background-position: 95% 50%;
    background-repeat: no-repeat !important;
    content: "" !important;
    background-position: 0 0 !important;
    width: 6px !important;
    height: 12px !important;
    z-index: 9999999 !important;
    /* border: 3px solid lime; */
    right: 20px !important;
    top: 10px !important;
    left: auto !important;
    bottom: auto !important;
    position: absolute !important;
    transform: none !important;
}

.menu-toggle,
.notifications-toggle {
    padding: 0px;
    margin: 15px;
    position: absolute;
    top: -50px;
    left: 20px;
    background-color: transparent !important;
    /*TODO color primary*/
    background-image: url(/resources/media/icon-menu.svg) !important;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 40px 25px;
    width: 40px;
    height: 25px;
    overflow: hidden;
    display: block !important;
    cursor: pointer;
}

.notifications-toggle {
    display: none !important;
}

.menu-toggle.down-icon {
    background-image: url(/resources/media/icon-menu.svg) !important;
}

.notifications-toggle {
    content: "";
    right: 0;
    left: inherit;
    height: 30px;
    width: 30px;
    background-image: url(/resources/media/icon-bell.svg) !important;
    float: left;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 23px 28.53px;
    display: inherit;
}

.notifications-toggle a {
    height: 13px;
    width: 13px;
    background-color: var(--color-white);
    font-size: 11px;
    padding: 1px;
    margin-right: 3px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-primary);
    position: absolute;
    right: 0;
}

/*HEADER LOGO*/

.menu-container #menu-logo {
    width: initial;
    height: 92px;
    background-size: auto 92px;
    background-repeat: no-repeat;
}

.cb-slideshow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -100;
}


/*#endregion*/







/*#region tab menu*/

#avail-container .ui-tabmenu {
    display: flex;
    width: 100%;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    color: #000000 !important;
    /*TODO COLOR BLACK PRIMARY*/
    padding-bottom: 0px !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-text {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 26px;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link::after {
    background-image: url(/resources/media/icon-nav-active.svg);
    background-position: 7px 0;
    background-repeat: no-repeat;
    transform: translateX(-0%);
    left: 50%;
    width: 60px;
    height: 22px;
    content: "";
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover::after {
    background-image: url(/resources/media/icon-nav-active.svg);
    background-position: 7px 0;
    background-repeat: no-repeat;
    transform: translateX(-0%);
    left: 50%;
    width: 60px;
    height: 22px;
    content: "";
}


.ui-tabmenu .ui-menuitem-icon {
    margin-right: 0px !important;
}


#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon {
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 30px !important;
    width: 40px;
    overflow: hidden;
    min-width: 40px;
}

.fa-train:before,
.fa-plane:before,
.fa-hotel:before,
.fa-hotels-flights:before,
.fa-cruises:before,
.fa-digital-signature:before,
.fa-activities:before,
.fa-bookroad:before,
.fa-busway:before,
.fa-bars::before {
    content: "" !important;
    background-size: 30px 30px;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-plane,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-plane,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-plane {
    background-image: url(/resources/media/icon-flights-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-train {
    background-image: url(/resources/media/icon-trains-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-train,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-train {
    background-image: url(/resources/media/icon-trains-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-hotel {
    background-image: url(/resources/media/icon-hotels-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-hotel,
#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link:hover>.ui-menuitem-icon.ui-icon.fa.fa-hotel {
    background-image: url(/resources/media/icon-hotels-hover.svg) !important;
}

/*nuevo tabmenu*/

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-hotels-flights {
    background-image: url(/resources/media/icon-hotel_flight-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-cruises {
    background-image: url(/resources/media/icon-cruises-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-digital-signature {
    background-image: url(/resources/media/icon-digital_signature-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-activities {
    background-image: url(/resources/media/icon-activities-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-bookroad {
    background-image: url(/resources/media/icon-bookroad-hover.svg) !important;
}

#avail-container .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-link .ui-menuitem-icon.ui-icon.fa.fa-busway {
    background-image: url(/resources/media/icon-busway-hover.svg) !important;
}

.ui-sidebar.ui-widget.ui-widget-content.ui-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.adaptable-container {
    overflow: hidden;
}

/*#endregion*/
/*
cuando es autoreserva poner el menu desplegable
organizar los input para que cubran mas espacio (nombre y pasajero)
*/

.ui-chips .ui-chips-container .ui-chips-input-token input {
    width: 100% !important;
    box-shadow: none !important;
    margin: 0px;
    height: 28px;
    padding: 10px;
}

/*#region footer*/
.footer {    
    background-color: #e5e5e5;
    padding-top: 50px;
}
.footer-container {
    max-width: 1100px !important;
    padding-bottom: 20px;
}

.footer .footer-container .footer-links {
    margin-right: 10px !important;
    border-right: 1px solid #002333;
    border-left: 1px solid #002333;
}

.footer .footer-container .footer-logo {
    height: 70px !important;
}

/*#endredion footer*/


/*#region boton flotante flecha*/
#top-row {
    position: fixed;
    bottom: 59px;
    right: 150px;
    height: 60px;
    width: 60px;
}

#top-row a:hover {
    background-image: url(../../old/resources/media/icon-up-hover.svg);
}

#top-row a {
    background-image: url(../../old/resources/media/icon-up.svg);
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
}

.fa-arrow-alt-circle-up:before {
    content: "" !important;
}

/*#endregion*/